<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        dt {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
        <textarea v-model="text" rows="3" cols="56" autofocus>
        It was a dark and stormy night...
        </textarea>
        <br>
        <button type="button" @click="q">Question</button>

        <dl>
            <div v-for="item in items">
                <dt>Q: {{ item.q }}</dt>
                <dd>A: {{ item.a }}</dd>
            </div>
        </dl>
    </div>
    <script>
        const app = {
            data() {
                return {
                    message: 'Hey OpenAI, tell me about it!',
                    text: '',
                    items: []
                }
            },
            methods: {
                q() {
                    axios.post(
                        'http://localhost:8080/api/',
                        { "q": this.text },
                    ).then((res) => {
                        console.log(res.data);
                        this.items.push({ 'q': this.text, 'a': res.data.choices[0].message.content })
                        this.text = ''
                    }).catch((err) => {
                        console.log(err);
                    })
                }
            },
        }

        Vue.createApp(app).mount('#app')
    </script>
</body>

</html>